Django==1.4.2
South==0.7.6
cssselect==0.7.1
django-crispy-forms==1.2.2
fuzzywuzzy==0.1
lxml==3.0.1
psycopg2==2.4.5
dj-database-url==0.2.0
gunicorn==0.16.1
pyquery==1.2.2
requests==0.14.2
wsgiref==0.1.2
