<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<meta charset=”utf-8”>
<link href="{{ STATIC_URL }}CSS/bootstrap.css" rel="stylesheet" media="screen">
<link href="{{ STATIC_URL }}CSS/BookFairy.css" rel="stylesheet" media="screen"> 
<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oldenburg' rel='stylesheet' type='text/css'>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.uniform.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}CSS/uniform.default.css" type="text/css" media="screen" charset="utf-8" />

<head>
    <title>BookFairy | helping booklisters check the library a whole list at a time</title>
</head>
<body>  
    <script>$("select, input, button, textarea").uniform();</script>
    <div class="container">
        <div class = "titlebox">
        <a class="brand" href="#"><font size=18px">BookFairy:</font></br>helping booklisters check the library a whole list at a time</a>
        </div>
        <div id="main">
            {% block content %}
            {% endblock %}
        </div> 
    </div>
    {% autoescape off %}{{ script }}{% endautoescape %}
</body>
</html>