{% extends "base.html" %}

{% block title %}BookFairy | helping booklisters check the library a whole list at a time{% endblock %}

{% block content %}

<!-- empty lists evaluate to False in a Boolean context in Python and Django -->
{% if booklist %}
    <h2 style="font-family: Verdana; color: #6AF0D1">Hurry to the library, because these books are checked in:</h2>
    <ul type = none>
    {% for book in booklist %}
        <li>{{ book.0 }}, {{ book.1 }} </li>
    {% endfor %}
    </ul>
{% else %}
    Sorry, no amount of fairy dust can check in any of these books for you. Check back again in a few days.
{% endif %}
{% endblock %}
