{% extends "base.html" %}

{% block title %}BookFairy | helping booklisters check the library a whole list at a time{% endblock %}

{% block content %}

<!-- empty lists evaluate to False in a Boolean context in Python and Django -->
{% if is_checked_in == True %}
    <h1 style="font-family: Oldenburg; color: #CC66FF">Hurry to the library, because these books are checked in:</h1>
    <ul>
    {% for book in booklist %}
        <li>{% book %} <!--, {{ gr_rating }} --></li>
    {% endfor %}
    </ul>
{% elif len(booklist) == 0 %}
    {{ sorry_msg }}
<!--     <p>Sorry, no amount of fairy dust can check in these books for you. Check back again in a few days.</p> -->
{% endif %}
{% endblock %}
