 {% extends "base.html" %}

{% block title %}{% endblock %}
{% block content %}
<div>
  {% if user.is_authenticated %}
  <p>Hello, {{user.username}}!</p>
  {% else %}
  <p><a href="/login/">Log in</a></p>
  <p><a href="/register/">Sign up</p>
  {% endif %}
  <p><a href="https://getsatisfaction.com/blabbergasted">Community</p>
</div>
<div class="directions">
    <p>Upload a booklist (in "title, author" form in .txt file <a href="https://docs.google.com/document/d/1no3E2SmZ1Pwv1rrIs77RGFUvU4IdQf4r7epeN41qJoQ/edit"> like this</a>) and choose a branch of SFPL, and we'll use a little fairy dust to see if the books are checked in.</p>
  </br>
</div>

<div class="body">
  <div class="booksearch">
    <script>$("select, input, button, textarea").uniform();</script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36906406-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    <form enctype="multipart/form-data" class="form-horizontal" action="{% url bookapp.views.check_books %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" name="content" class="input" id="description">
    </form>
  </div>
</br>
<p>Connect with me at <a href="http://michelleglauser.blogspot.com">michelleglauser.blogspot.com</a> or <a href="http://twitter.com/michelleglauser">@MichelleGlauser</a>. 
</p>
<p>Please <a href="mailto:michelleglauser@gmail.com">email me</a> to report problems. (I'm new at this.) 
</p>
</div>
{% endblock %}


