body {
    background-image:url('norwegian_rose.png');
    background-repeat:repeat;
}

.container {
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border: 1px solid #82837E;
    background-color: white;
}

.directions {
    padding: 5px 10px;
    color: #82837E;
    font-size: 18px;
    line-height: 140%;
}

.body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#main {
    padding: 60px 120px;
    height: 100%;
}

#booklist {
    border: red;
    padding: 60px;
}

.brand {
    font-family: 'Montserrat Alternates', sans-serif;
    text-shadow: 0px 0px 0px 0px !important;
    color: white; 
    font-weight: bold
    font-size: 2px;
}

.titlebox {
    background-color: #6AF0D1;
    height: 75px;
    width: 760px;
    text-wrap: normal;
    line-height: 145%;
    font-size: 19pt;
    font-color: 999999;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    padding: 20px 20px 20px 20px;
}

div.booksearch form-horizontal {
    display: inline;
    border: red;
}

/*.description {
    background-color: #ffffff;
    margin-bottom: 0;
    padding: 75px 15px 10px 30px;
    overflow: hidden;

}

.description h1 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.description p {
    width: 60%;
    padding-right: 40 px;
    font-size: 20px;
    line-height: 140%;
}*/

/*.sporty2 {
    margin-bottom: 0;
    padding: 20px 20px 50px;
    overflow: hidden;
}

.sporty2 div.left {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 60%;
    margin-right: 10px;
}

.sporty2 div.right {
    float: left;
    width: 33%;
}

.sporty2 div.right h2 {
    font-size: 24px;
    line-height: 150%;
}

.sporty2 .namebox {
    padding-top: 10px;
}

.sporty2 h2 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.footer {
    background-color: #90F49A;
    height: 20px;
    margin-bottom: 0;
    position: fixed;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

.sporty img {
    float: right;
    width: 300px;
    padding: 20px;
}

.footer h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-color: white;
    margin-bottom: 20px !important;
    margin-left: 10px;
    line-height: 40%;
}

.form-horizontal {
    float: :left;
    width: 50%;
}

*/